In [4]:
#Write a code to reverse a string

#Write a code to reverse a string


a = "hello world"
a = a[::-1]

In [5]:
a

'dlrow olleh'

In [6]:
#Write a code to count the number of vowels in a string

a = "hello world"
vowels = "aeiou"
count = 0
for i in a:
    if i in vowels:
        count += 1
print(count)

3

In [7]:
 #Write a code to check if a given string is a palindrome or not

a = "madam"
if a == a[::-1]:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [8]:
 #Write a code to check if two given strings are anagrams of each other

a = "listen"
b = "silent"
if sorted(a) == sorted(b):
    print("anagrams")
else:
    print("not anagrams")

anagrams

In [10]:
# Write a code to find all occurrences of a given substring within another string



a = "hello world"
b = "l"
count = 0
for i in range(len(a)):
    if a[i:i+len(b)] == b:
        count += 1
print(count)

3

In [11]:
#Write a code to perform basic string compression using the counts of repeated characters




a = "aabcccccaaa"
count = 1
result = ""
for i in range(len(a)-1):
    if a[i] == a[i+1]:
        count += 1
    else:
        result += a[i] + str(count)
        count = 1
result += a[-1] + str(count)
print(result)

a2b1c5a3

In [13]:
 #Write a code to determine if a string has all unique characters




def unique_characters(string):
    char_set = set()
    for char in string:
        if char in char_set:
            return False
        char_set.add(char)
    return True

unique_characters("hello")

False

In [15]:
# Write a code to convert a given string to uppercase or lowercase

a = "hello world"
a.upper()

'HELLO WORLD'

In [17]:
#Write a code to count the number of words in a string


a = "hello world"
len

11

In [22]:
#Write a code to concatenate two strings without using the + operator


a = "hello"
b = "world"
print("".join([a,b]))

helloworld

In [23]:
 #Write a code to remove all occurrences of a specific element from a list


 l = [1,2,3,4,5,6,7,8,9,10]
 l.remove(5)

In [24]:
l

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [47]:
#Implement a code to find the second largest number in a given list of integers


l = [1,2,3,4,5]
l.sort()
print(l[-2])

4

In [50]:
#Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their count as values
def count_elements(lst):
    count_dict = {}
    for element in lst:
        if element in count_dict:
            count_dict[element] += 1
        else:
            count_dict[element] = 1
    return count_dict
count_elements([1,2,3,4,5,6,7,8,9,10])

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 10: 1}

In [31]:
# Write a code to reverse a list in-place without using any built-in reverse functions


l = [1,2,3,4,5]
l.reverse()

In [32]:
l

[5, 4, 3, 2, 1]

In [35]:
# Implement a code to find and remove duplicates from a list while preserving the original order of elements


l = [1,1,2,2,3,4,5,6,3,4,5,6,7,8,9,10]
unique_list = []
for i in l:
    if i not in unique_list:
        unique_list.append(i)
print(unique_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
#Create a code to check if a given list is sorted (either in ascending or descending order) or not



l = [1,2,3,4,5]
if l == sorted(l) or l == sorted(l, reverse=True):
    print("sorted")
else:
    print("not sorted")

sorted

In [37]:
#Write a code to merge two sorted lists into a single sorted list

l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
l1.extend(l2)
l1.sort()

In [38]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
# Implement a code to find the intersection of two given lists


l1 = [1,2,3,4,5]
l2 = [4,5,6,7,8]
set(l1).intersection(set(l2))

{4, 5}

In [40]:
#Create a code to find the union of two lists without duplicates


l1 = [1,2,3,4,5]
l2 = [4,5,6,7,8]
set(l1).union(set(l2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [41]:
# Write a code to shuffle a given list randomly without using any built-in shuffle functions


l = [1,2,3,4,5]
random.shuffle(l)

In [42]:
l

[2, 1, 5, 3, 4]

In [43]:
#Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
common_elements = tuple(set(tuple1) & set(tuple2))
print(common_elements)

(4, 5)

In [52]:
#Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets


s1 = input()
s2 = input()
s1 = set(s1.split(","))
s2 = set(s2.split(","))
print(s1.intersection(s2))

1,2,3,4,5
3,4,5
{'4', '3', '5'}

In [56]:
#Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

t1 = input()
t2 = input()
t1 = tuple(t1)
t2 = tuple(t2)
t3 = t1+t2
print(t3)

1 2 3 4
5 4 6 7
('1', ' ', '2', ' ', '3', ' ', '4', '5', ' ', '4', ' ', '6', ' ', '7')

In [57]:
#Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set


s1 =input()
s2 =input()
s1 =s1.split()
s2 =s2.split()
for i in s1:
  if i not in s2:
    print(i,end=" ")

1,2,3,4,
4,5,6,7
1,2,3,4,

In [55]:
# Create a code that takes a tuple and two integers as input. The function
# should return a new tuple containing elements from the original tuple within
# the specified range of indices


t1= input("Enter a tuple: ")
t2= input("Enter a tuple: ")
t1= tuple(t1)
t2= tuple(t2)
print(t1)
print(t2)

Enter a tuple: 1,2,3,4
Enter a tuple: 4,5,6,7
('1', ',', '2', ',', '3', ',', '4')
('4', ',', '5', ',', '6', ',', '7')

In [58]:
#Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets


s1 = input()
S2 = input()
s1 = set(s1)
S2 = set(S2)
print(s1.union(S2))

1,2,3,4
3,4,5,6,7
{',', '5', '7', '2', '6', '1', '3', '4'}

In [80]:
#Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

t1 = input("Enter the first tuple of integers separated by spaces: ")
t2 = input("Enter the second tuple of integers separated by spaces: ")

t1 = tuple(map(int, [x for x in t1.split(",") if x]))
t2 = tuple(map(int, [x for x in t2.split(",") if x]))

print("Tuple 1:", t1)
print("Tuple 2:", t2)
combined_tuple = t1 + t2

print("Maximum value:", max(combined_tuple))
print("Minimum value:", min(combined_tuple))

Enter the first tuple of integers separated by spaces: 1,2,3,4,5,6,7,8,9
Enter the second tuple of integers separated by spaces: 4,5,6,7,8,9,
Tuple 1: (1, 2, 3, 4, 5, 6, 7, 8, 9)
Tuple 2: (4, 5, 6, 7, 8, 9)
Maximum value: 9
Minimum value: 1

In [81]:
#Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets




s1 = {1,2,3,4,5,}
s2 = {4,5,6,7,8}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}

In [91]:
#Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple



t1 =()
n = (int)(input("enter the element"))
i=0
while(i<n):
    e=int(input("enter the element"))
    t1=t1+(e,)
    i=i+1
num=(int)(input("enter the element to be searched"))
print(t1.count(num))

enter the element3
enter the element3
enter the element3
enter the element3
enter the element to be searched3
3

In [92]:
# Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets



s1 = input()
s2 = input()
s1 = s1.split()
s2 = s2.split()
s1 = set(s1)
s2 = set(s2)
print(s1.symmetric_difference(s2))

1,2,3,4,5,6,
4,5,6,7,8,9,34
{'4,5,6,7,8,9,34', '1,2,3,4,5,6,'}

In [96]:
#Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list
def word_frequency(words):
    frequency = {}
    for word in words:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1
    return frequency

words = input("Enter a list of words separated by spaces: ").split()
frequency = word_frequency(words)
print(frequency)

Enter a list of words separated by spaces: 1,2,3,
{'1,2,3,': 1}

In [105]:
#Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together


d1 = input("Enter the first dictionary as key:value pairs separated by commas: ")
d2 = input("Enter the second dictionary as key:value pairs separated by commas: ")


def convert_to_dict(input_str):
    try:

        return dict(item.split(":") for item in input_str.split(",") if item)
    except ValueError:

        return {str(item): int(item) for item in input_str.split(",") if item}

d1 = convert_to_dict(d1)
d2 = convert_to_dict(d2)


d1 = {k: int(v) for k, v in d1.items()}
d2 = {k: int(v) for k, v in d2.items()}

d3 = d1.copy()

for key, value in d2.items():
    if key in d3:
        d3[key] += value
    else:
        d3[key] = value

print(d3)

Enter the first dictionary as key:value pairs separated by commas: 1,2
Enter the second dictionary as key:value pairs separated by commas: 2,3
{'1': 1, '2': 4, '3': 3}

In [1]:
#Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order


d1_str = input("Enter a dictionary in the format {key1:value1, key2:value2}: ")

try:
    # Attempt to evaluate the input string as a dictionary literal
    d1 = eval(d1_str)

    # Check if the evaluated object is a dictionary
    if not isinstance(d1, dict):
        raise ValueError("Input is not a valid dictionary")

except (SyntaxError, NameError, ValueError) as e:
    print(f"Error: Invalid dictionary input. {e}")
    # Handle the error, e.g., exit or prompt for input again
    exit()

# Ensure d1 is a dictionary before proceeding
# If d1 is not a dictionary, attempt to convert it
if not isinstance(d1, dict):
    try:
        d1 = {str(item): int(item) for item in d1_str.split(",") if item} # Convert to a dictionary if possible
    except (ValueError, TypeError):
        print("Could not convert input to a dictionary.")
        exit()

d2 = dict(sorted(d1.items(), key=lambda x: x[1]))
print(d2)

Enter a dictionary in the format {key1:value1, key2:value2}: 2,3,1,4,6,8,,7,5,9
Error: Invalid dictionary input. invalid syntax (<string>, line 1)

NameError: name 'd1' is not defined

In [1]:
#Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

d1_str = input("Enter a dictionary in the format {key1:value1, key2:value2}: ")

d1 = None

try:

    d1 = eval(d1_str)


    if not isinstance(d1, dict):
        raise ValueError("Input is not a valid dictionary")

except (SyntaxError, NameError, ValueError) as e:
    print(f"Error: Invalid dictionary input. {e}")

if d1 is None or not isinstance(d1, dict):
    try:
        d1 = {str(item): int(item) for item in d1_str.split(",") if item}
    except (ValueError, TypeError):
        print("Could not convert input to a dictionary.")
        exit()

d2 = dict(sorted(d1.items(), key=lambda x: x[1]))
print(d2)

Enter a dictionary in the format {key1:value1, key2:value2}: 2,3,1,4,6,8,,7,5,9
Error: Invalid dictionary input. invalid syntax (<string>, line 1)
{'1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}

In [2]:
# Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
#correctly handles cases where multiple keys have the same value by storing the keys as a list in the
#inverted dictionary
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        if value in inverted:
            inverted[value].append(key)
        else:
            inverted[value] = [key]
    return inverted

d = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted = invert_dict(d)
print(inverted)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}